.app {
  text-align: center;
  color: black;
}

li {
  list-style: none;
  display: inline;
}

a {
  padding: 0px 5px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.bigDaddyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-content: space-between;
}

.links {
  font-size: 16px;
  height: 50px;
}
.navbar {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 15px;
  z-index: 50;
}

footer {
  margin-top: 70px;
  font-size: 11px;
  color: black;
}
/*---------------------------Signup/Login Forms----------------------------*/

.signForm {
  z-index: 1000;
  background-color: white;
  color:black;
  height: 500px;
  width: 400px;   
  align-self: flex-end;
  margin-top: 2%;
  margin-right: 5%;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logform {
  background-color: white;
  color:black;
  height: 440px;
  width: 400px;   
  margin: auto;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-size: 16px;
}

.logo {
  height: 80px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button {
  font-size: 16px;
  padding: 5px;
  margin: 5px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*----------------------------------Profile-------------------------*/

.profile {
  display: flex;
  justify-content: space-around;
  height: 1000px;

}

.headtitle {
  background: #f3f3f3;
  width: 99.5%;
  border: 1px transparent solid;
}

.profilebtns {
  width: 100%;
  padding: 10px;
  margin: 0;
}
/*------------------------------Friends List-------------------------*/

.friendlist {
  border: 1px solid black;
  height: 85%;
  width: 28%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*--------------------------Events----------------------------------*/

.events {
  border: 1px solid black;
  height: 85%;
  width: 67%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 
/*---------------------------------Pop-Up Form------------------------*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*------------------------Slideshow Background-----------------------*/
.cb-slideshow,
.cb-slideshow:after { 
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow li span { 
  width: 100%;
  height: 85%;
  position: absolute;
  top: 60px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div { 
  z-index: 20;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div h3 { 
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 10em;
  text-align: left;
  padding: 0;
  /* line-height: 200px;  */
}

.cb-slideshow li:nth-child(1) span { 
  background-image: url('https://www.ezcater.com/wp-content/uploads/2018/04/shutterstock_629965877.jpg') 
}

.cb-slideshow li:nth-child(2) span { 
  background-image: url('https://bamboosushi.com/wp-content/uploads/2019/12/Our-Menu_Restaurant-of-Change_Bamboo-Sushi-1900x840.png');
  animation-delay: 6s; 
}

.cb-slideshow li:nth-child(3) span { 
  background-image: url('https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2018/04/carne-asada-tacos-2.jpg');
  animation-delay: 12s; 
}

.cb-slideshow li:nth-child(4) span { 
  background-image: url('https://culturecrusaders.com/wp-content/uploads/2020/01/ZjK6w7d3Soa4y9kLqsOr_DIN_TAI_FUNG_STYLE_XIAO_LONG_BAO_SOUP_DUMPLINGS_025.jpg');
  animation-delay: 18s; 
}

.cb-slideshow li:nth-child(5) span { 
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190305-lemon-garlic-asparagus-pasta-horizontal-161-1553190755.jpg');
  animation-delay: 24s; 
}

.cb-slideshow li:nth-child(6) span { 
  background-image: url('https://acadianatable.com/wp-content/uploads/2018/10/Charcuterie-Board-horizlores.jpg');
  animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}

.cb-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}

.cb-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}

.cb-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}

.cb-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100%
   { opacity: 0 }
}

@keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
  .cb-slideshow li div h3 { font-size: 140px }
}

@media screen and (max-width: 600px) { 
  .cb-slideshow li div h3 { font-size: 80px }
}

